@import 'src/helpers';
@import 'src/base';

:host {
  padding: var(--proto-space) 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-bottom: 1px solid darken(#EDEDED, 10%);

  @include proto-breakpoint-m {
    flex-direction: row;
  }

  &:last-child {
    border: none;
  }

  ion-button {
    width: 100%;

    @include proto-breakpoint-m {
      width: 200px;
    }
  }
}

.ad-preview {

  &-display {
    display: flex;
    flex-direction: column;


    &--name {
      color: var(--ion-color-primary);
      font-weight: 600;
      margin-bottom: var(--proto-space);
      em {
        color: var(--ion-color-dark);
        font-style: normal;
      }
    }
    &--description {
      margin-bottom: var(--proto-space);
    }
  }
}
